<!DOCTYPE html>
<html>

<head>
    <!-- Aici e titlul care apare sus in bara de la browser-->
    <title>Logo</title>
    <!-- Chestiile astea nu te intereseaza -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/uikit.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="../../js/uikit.min.js"></script>
    <script src="../../js/uikit-icons.min.js"></script>
</head>

<body>
    <div class="masonry-wrapper">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar style="position: relative; z-index: 980;">
            <div class="uk-navbar-left">

                <div class="uk-navbar-item uk-logo">
                    <a href="../" class="uk-navbar-item uk-logo"><img uk-svg="" src="../images/uikit-logo.svg" class="uk-margin-small-right"
                            hidden="true">
                        <img src="Semnatura.svg" alt="no image" style="width: 240px">
                    </a>
                </div>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Logo</a></li>
                    <li><a href="covers.html">Covers</a></li>
                    <li><a href="business_cards">Business cards</a></li>
                </ul>
            </div>
        </nav>
        <div class="masonry">
            <!-- Aici lasi imaginile div reprezinta o imagine -->
            <div class="masonry-item">
                <img src="Logo/1.png" alt="Dummy Image" class="masonry-content">
            </div>
            <div class="masonry-item">
                <img src="Logo/2.png" alt="Dummy Image" class="masonry-content">
            </div>
            <div class="masonry-item">
                <img src="Logo/3.png" alt="Dummy Image" class="masonry-content">
            </div>
            <div class="masonry-item">
                <img src="Logo/4.png" alt="Dummy Image" class="masonry-content">
            </div>
            <div class="masonry-item">
                <img src="Logo/5.png" alt="Dummy Image" class="masonry-content">
            </div>
            <div class="masonry-item">
                <img src="Logo/6.png" alt="Dummy Image" class="masonry-content">
            </div>
            <div class="masonry-item">
                <img src="Logo/7.png" alt="Dummy Image" class="masonry-content">
            </div>
            <div class="masonry-item">
                <img src="Logo/8.png" alt="Dummy Image" class="masonry-content">
            </div>
            <div class="masonry-item">
                <img src="Logo/9.png" alt="Dummy Image" class="masonry-content">
            </div>
            <div class="masonry-item">
                <img src="Logo/10.png" alt="Dummy Image" class="masonry-content">
            </div>
            <div class="masonry-item">
                <img src="Logo/11.png" alt="Dummy Image" class="masonry-content">
            </div>
            <div class="masonry-item">
                <img src="Logo/12.png" alt="Dummy Image" class="masonry-content">
            </div>
            <div class="masonry-item">
                <img src="Logo/13.png" alt="Dummy Image" class="masonry-content">
            </div>

        </div>
    </div>
    <footer>
        <hr>
        <div class="uk-child-width-1-3@s footer" uk-grid>
            <div>
                <p class="announcer">For custom logos contact me at one of the following:</p>
                <p class="disclaimer">I don't claim any name of company in those logos. <br>
                    All logos above are pure for demonstrative purposes and not for consume <br>
                    Please don't steal !!!</p>
            </div>
            <div>
                <p>Numar de telefon: 0760623382</p>
                <p>Email: apostol.vladav@gmail.com</p>
            </div>
            <div>
                <p><a href="#" class="uk-link-heading">Pagina facebook</a></p>
                <p><a href="#" class="uk-link-heading">Patreon</a></p>
            </div>
        </div>
        <hr>
    </footer>
</body>

</html>