<!DOCTYPE html>
<html>

<head>
    <!-- Aici e titlul care apare sus in bara de la browser-->
    <title>Home</title>
    <!-- Chestiile astea nu te intereseaza -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/uikit.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../js/uikit.min.js"></script>
    <script src="../js/uikit-icons.min.js"></script>
</head>

<body>
<ul>
    <li><a href="Training/training.html">Training</a></li>
    <li><a href="Graphics/logo.html">Graphics</a></li>
</ul>
</body>

</html>