<!DOCTYPE html>
<html>

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/uikit.min.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <script src="../../js/uikit.min.js"></script>
    <script src="../../js/uikit-icons.min.js"></script>
</head>

<body>
    <div class="navbar">
        <div class="navbar-el" id="navbar-el-1" onclick="location='page1.html'"><div></div></div>
        <div class="navbar-el" id="navbar-el-index" onclick="location='index.html'"><div></div></div>
        <div class="navbar-el" id="navbar-el-3" onclick="location='page3.html'"><div></div></div>
    </div>
    <div class="header">
        <!-- Aici e titlul princi -->
        <h1>Page 2</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum sapien ante. Aenean suscipit
            odio
            sit amet
            urna faucibus, eu molestie quam luctus.</p>
    </div>
</body>